      <!-- For the FAQ, we introduce a little bit of JS, using the accordion. -->
      <!-- This brings in jquery.js and bootstrap.js as dependencies. -->
      <!-- http://twitter.github.io/bootstrap/javascript.html#collapse -->
      <div id="faq" class="row-fluid">
        <div class="span4 offset1"><h3>FAQ</h3></div>
      </div>
      <div class="row-fluid faq">
          <div class="span10 offset1">
  <!--            <h3>FAQ</h3><a href="#">Top</a> -->
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                       data-parent="#accordion2" href="#collapseOne">
                    What is <em>TellMeCicero</em>?
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <em>TellMeCicero</em> is both a web site and an innovative mobile app which provides augmented reality features, to bring the whole travel experience to a new level.
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseTwo">
                    Will it be free a service?
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <em>TellMeCicero</em> will be 100% free for ever and ever
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseThree">
                    What is the Stack?
                  </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                  <div class="accordion-inner">
                    We are OSS believers. <em>TellMeCicero</em> will be built on top of the technologies that are freely available to us today.
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseFour">
                    Why support us?
                  </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <a href="#kickstart">Donating Bitcoins</a>, or even simply <a href="#kickstart">spreading the word via Twitter or Facebook sharing</a> is the way for you to help make this project a reality. I will definitely be needing help from people to build a MVP (Minimum Viable Product) for the project and manage the startup launch. Without your support and donations, there isn't really a way for us to make that happen. All of you who will contribute will be contacted to become early adopters before the official go live. A thing to keep in mind is that the rewards will be bragging rights recognition, a way for you to help make the project a reality.  
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseFive">
                    Why Bitcoin payments?
                  </a>
                </div>
                <div id="collapseFive" class="accordion-body collapse">
                  <div class="accordion-inner">
                    A <a href="http://en.wikipedia.org/wiki/Paypal" target="_blank">Paypal</a> donation button is forthcoming, but we prefer <a href="http://en.wikipedia.org/wiki/Bitcoins" target="_blank"> Bitcoin</a> payments. We believe Bitcoin is the <a href="http://bitcoin.org" target="_blank">currency of the future</a> and you can consult <a href="http://howtobuybitcoins.info" target="_blank">this page</a> to learn how to buy BitCoins in your country.
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseSix">
                    Why 2000 BTC?
                  </a>
                </div>
                <div id="collapseSix" class="accordion-body collapse">
                  <div class="accordion-inner">
                    While I can put together a prototype on my own, I certainly can't build entirely <em>TellMeCicero</em> web site and mobile app in any reasonable amount of time by myself. The more money we get, the larger the team I can put together to turn this stuff into a reality. The 2k BTC, after taxes and cost, will help us at least assemble a small but smart team to launch first release of the system.
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseSeven">
                    Does more funding mean more stuff?
                  </a>
                </div>
                <div id="collapseSeven" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Sure! I can hire a bigger and more diverse team so that we can add support for more features and even cooler things than I've shown in the presentation (e.g. a tourist booklet generated with stories of the place you're planning to visit and much more)
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseEight">
                    How long will it take?
                  </a>
                </div>
                <div id="collapseEight" class="accordion-body collapse">
                  <div class="accordion-inner">
                    The tentative plan is to release a full beta within 4 months and have an official launch April of next year. As it stands currently, it will include all the things I've shown in the presentation, included the augmented reality mobile app, but should we continue to get more funding we can add even more.
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseNine">
                    Why should we believe you can deliver?
                  </a>
                </div>
                <div id="collapseNine" class="accordion-body collapse">
                  <div class="accordion-inner">
                    I've been programming professionally for more than 20 years, during which time I've worked on information retrieval, content, document and knowledge management, built websites and portals large and small, delivering content and services both in internet and intranet environment and released libraries and frameworks (one of these, Web@Work, a CMS entirely built in PL/SQL and completely embeddable into any Oracle DBMS, was recognized by Oracle as Award Winning partner solution in 2004).
  I have a hystory of building useful software and, as <a href="http://www.pmi.org/Certification/Project-Management-Professional-PMP.aspx" target="_blank">PMP</a>, of managing large ICT projects as well as experience leading and shaping the future of a rapidly growing startup. 
                  </div>
                </div>
              </div>

            </div>
          </div>

      </div>
