    <!-- Modal Sample Story 
    =========================================== -->
    <div id="modalsamplestory" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <header class="modal-header">
        <a href="#" class="close" data-dismiss="modal">x</a>
        <h3>The battle of Egadi <small>Tags: Nature, Hystory</small></h3>
      </header>
        
      <div class="modal-body">

        <div class="media">
          <a href="#" class="pull-left">
            <img data-src="holder.js/64x64" class="media-object" alt="Cala Rossa, Favignana, Sicily, Italy -  The battle of Egadi" style="width: 100px; height: 100px;" src="img/zTTNlWS.jpg" title="Cala Rossa, Favignana, Sicily, Italy -  The battle of Egadi">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i></span></h4>

            <h4 class="media-heading">by Giuseppe Ferrante, August 2013</h4>
            <h5 class="media-heading">Local, born in Favignana Island, Sicily, Italy</h5>
  Cala Rossa (Red Cove) is probably the most beautiful beach in Favignana. Since I was a child I can remember the sea water color ranging from blue, light blue and green...crystal clear. Many years later I could see picture of Caribbean, but Cala Rossa has nothing to envy. When is blowing the south wind of Scirocco, take a bike and get a ride from town. You'll feel the hot on your skin but you'll love to go there when the sea is dead and calm. Don't believe the people (I've read even on Wikipedia...) who said that the name "Red Cove" derives from bloodshed of the Second Punic War. That's not correct. I'll tell you the true story. On 10 March 241 BC, near Levanzo Island, just 2 miles ahead of Cala Rossa, a major naval battle was fought between the Roman and Carthaginian fleets. Two hundred Roman ships under the consul Gaius Lutatius Catulus faced a much larger Carthaginian fleet of 400 ships. The Carthaginians moved to the coast of Sicily. The Romans hided their fleet behind Levanzo island, waiting for the enemies passage. When the last Carthaginian ships was passed they attacked behind taking advantage of the NOrth-West wind and decisively defeated the larger Carthaginian fleet. The Romans sinking 120 Carthaginian vessels and taking 10,000 prisoners. The Romans took possession of the island under the terms of the treaty that ended the war. For sure, there were so many deads, but the name Red Cove has become from the red clay on this beautiful beach and not for the bloodshed.
          </div>
        </div>

      </div>
        
      <footer class="modal-footer">
        <a href="#" class="btn btn-primary" id="okwin01">Sounds Interesting!</a>
      </footer>
    </div> <!-- @end @modalwin -->
